# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable secrets
*.tfvars
!example.tfvars

# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Kubernetes secrets
*secret*.yaml
*secrets*.yaml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
